.carousel-item img{
    width: 100%;
    height: 700px;
    filter: brightness(50%);
 
}

.carousel-item{
    position: relative;
}

 .carousel-caption {
    position: absolute;
    top: 35%;              
    left: 15%;             
    text-align: center;
    color: #fff;
    

}

.carousel-caption h3{
    font-size: 70px;
    }
.carousel-caption p{
    font-size:30px;
    
}

.carousel-caption button{
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;

}


