.form-group{
   position: relative;
  
}

.form-group .form-control{
    width: 100%;
    height: 70px;
    border-radius: 30px;
    padding: 20px;
    border: none;

}

.form-group button {

  position: absolute;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  right: 25px;
  top : 12px;
  border: none;
 
}

.social-icon{
    list-style-type: none;
    padding: 0;       
    margin: 0; 

}

.social-icon li{
    display: inline-block;
    margin-right: 10px;
    
}

.social-icon li a svg {
  color: white;
}

.footer-last{
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 0;
}

.footer-last span{
    float:left;
}

.payment-method{
    list-style-type: none;
    margin:0;
    padding: 0;
    float:right;

}

.payment-method li{
    display: inline-block;
    margin-right: 20px;
}

footer hr {
  margin: 0;
}